<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="General" type="lsep" />
		<setting id="api_key" label="API Key" type="text" default="" />
		<setting id="tmp_path" type="folder" label="XG Tmp Path" source="auto" option="writeable" />
		<setting id="xg_dl_path" type="folder" label="XG Download Path" source="auto" option="writeable" />
		
		<setting label="Host Settings" type="lsep"/>
		<setting id="host" type="text" label="Host? (localhost, IP address, etc.)" default="localhost"/>
		<setting id="port" type="number" label="Port? (eg. 5556)" default="5556"/>
		
		<setting id="bf_time" type="slider" label="Buffering time for videos (in seconds)" default="30" range="10,10,300" option="int" />

       <!-- <setting id="download_path" type="folder" label="Download Path (NOT FAT32)" source="auto" option="writeable" />
        <setting id="keep_files" type="bool" label="Keep files after playback/download stops" default="false" /> -->
	</category>
</settings>